.regenerateButton {
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: 'Open Sans';
    margin: 10px;
    border-radius: 6px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    cursor: pointer;
    outline: none;
}

.downloadButton {
    border: none;
    border-bottom: solid 2px #000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.6em;
    font-family: 'Open Sans';
    margin: 10px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    cursor: pointer;
    outline: none;
}

.mapSizeSpan {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.titleContainer {
    width: 80%;
    max-width: 600px;
    margin: auto;
}