/* .generatorButton {
    cursor: pointer;
    border: solid 1px #000;
    background-color: #fff;
    padding: 8px;
    border-radius: 3px;
    border-bottom: double;
    width: 100%;
    max-width: 36em;
    margin: auto;
    margin-top: 10px;
    text-align: left;

    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
} */

.generatorButton:focus {
    outline: none;
}

.pickedText_OLD {
    transition: 0.3s;
    margin: 3px auto;
    padding: 6px;
    font-size: 16px;
    border: solid 1px #000;
    border-top: none;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -0.8em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 600px;
    width: 80%;
    margin-bottom: 1em;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
}

.pickedText {
    transition: 0.3s;
    margin: 0px auto;
    padding: 1em;
    font-size: 16px;
    border: solid 1px #000;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 600px;
    width: 80%;
    margin-top: -1px;
}


.hiding {
    transition: 0.3s;
    color: rgba(0,0,0,0);
}


.gbutton {
    border: none;
    border-bottom: solid 1px #000;
    background-color:rgba(0,0,0,0);
    cursor: pointer;
    width: 80%;
    max-width: 600px;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
    outline: none;
    margin-top:0.5em;
    padding-bottom: 0.5em;
}

.gbuttoncontent {
    border: solid 1px #000;
    background-color:rgba(0,0,0,0);
    cursor: pointer;
    width: 80%;
    max-width: 600px;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
    outline: none;
    margin-top:0.5em;
    border-bottom: none;
}







.generatorButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    width: 80%;
    max-width: 600px;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
    /* text-transform: uppercase; */
    padding: 0.5em 0.5em;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.gbNoContent::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(155, 155, 155, 0.6);
        border-radius: inherit;
        box-shadow: 0 0 0 2px  rgba(155, 155, 155, 0.6);
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.gbContentDisplayed {
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-top: 0.75em;
}
.gbContentDisplayed::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    border-radius: 0px;
    box-shadow: 0 0 0 0px  rgba(162, 162, 162, 0.6);
    transform: translate3d(0, 0.75em, -0.2em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.generatorButton:active {
        background: #fff;
        transform: translate(0em, 0.75em);
}
