.container {
    /* max-width: 36rem;
    padding: 0 1rem; */
    margin: 0 auto 6rem;
    padding-bottom: 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

.homeLink {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

  .topbar {
    background-color: #000;
    padding: 0.3em;
  }


.tagline {
  font-size: 0.5em;
  font-style: italic;
}
