@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* background-image: url('/images/parchment.jpg'); */
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  margin: auto;
  max-width: 600px;
  text-align: left;
  font-size: 14px;
  background-color: #efefef;
  padding: 10px;
}

textarea {
    margin: 0px;
    width: 600px;
    height: 150px;
}

div#pixiContainer {
  max-width: 100%;
  padding: 20px;
}

div#pixiContainer canvas {
  max-width: 100%;
}



/* Random String Builder Classes */

span.rsbItemTitle {
  font-weight: bold;
  font-style: italic;
}

div.rsbInfoBlock {
  text-align: left;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  padding: 6px;
  /* border: dotted 1px #000; */
  /* border-radius: 6px;
  background-color: rgba(0,0,0, 0.03); */
  /* border-bottom: solid 2px rgba(255,255,255, 0.5);
  border-top: solid 2px rgba(0,0,0,0.1); */
}

div.rsbInfoDivider {
  border-bottom: dotted 1px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 2px;
  font-size: 0.8em;
}

span.rsbInfoNote {
  font-size: 0.8em;
  font-style: italic;
}

h3 {
  background-color: rgba(254, 246, 222, 0.75);
  max-width: 650px;
  margin: auto;
  border: 0;
  border-radius: 10px;
  border-bottom: 1px solid #888;
  margin-top: 2em;
  margin-bottom: 1em;
}