.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    text-align: center;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
  }
  
  @media only screen and (max-width: 500px) {
      .heading2Xl {
          font-size: 1.5rem;
      }
  }

  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    text-align: center;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    text-align: center;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 0;;
    text-align: center;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0;
    padding: 10px;
    padding-top: 30px;
    border-bottom: dotted 2px #888;
  }
  
  .lightText {
    color: #666;
  }

  .header {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .button {
    font-family: 'Oswald', sans-serif;
  }
